/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
*{
  animation: slide-up 0.4s ease;
}
code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.div-order{
  padding: 10px;
  margin:20px;
  border-radius: 30px;
  border:3px solid rgb(231, 95, 95);
  background-color: #E01A76;
  min-width: 47%;
  overflow-x: hidden;
  overflow-y: hidden;  
}

.div-workers{
  text-align: center;
  padding: 5px;
  margin:20px;
  border-radius: 30px;
  border:3px solid #ffffff91;
  background-color: #ffffff5e;
}

.workers-content{
  width: 45%;
  margin: 2.5px;
  padding: 2.5px;
  display: inline-block;
  vertical-align: middle;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}